{%extends 'base.html'%}

{%block content%}

    {%if object%}
        <h1>Change Armor <span class="teal-text">{{object.name}}</span></h1>
    {%else%}
        <h1>Build Armor</h1>
        <h6>Create styles like Helmut, Breastplate, Wing Gaurds, or Talon Greaves</h6>
        <h6>Materials can be anything for Leather  Steel, Iron, or Mithril! But dont give them cloth or paperbags to wear, those dont bode well in war.</h6>
    {%endif%}
    <form action="" method="post">
        {%csrf_token%}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" value="Forge!" class="btn">
    </form>


{%endblock%}